# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/
venv/

# Data
*.csv
*.parquet
*.c3d

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tools
mlruns/
.env
